{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <section class="slick">
        <div class="box one-time">
            <div class="item">
                <img src="{% static 'main/img/sites/braunn.png' %}" alt="">
                <h2>Braun Haircut Machine Site</h2>
            </div>
            <div class="item">
                <img src="{% static 'main/img/sites/reebok.svg' %}" alt="">
                <h2>Reebok Outfit and Clothes Shop</h2>
            </div>
            <div class="item">
                <img src="{% static 'main/img/sites/seo.png' %}" alt="">
                <h2>SEO Flow Marketing Site</h2>
            </div>
            <div class="item">
                <img src="{% static 'main/img/sites/woman_new_collection.svg' %}" alt="">
                <h2>Women and Kids Store</h2>
            </div>
        </div>

    </section>


    <section class="thworks">
        <div class="thirth">
            <h1>Other Works</h1>
            {% for work in object_list %}
                <div class="news">
                    <div class="triangle">
                        <img src="{{ work.work_image.url }}" alt="" class="work_image">
                        <div>
                            <a href="./z_dashboard_ichi_workss.html">{{ work.title }}</a>
                            <div class="date">
                                <div class="boxx">
                                    <p>{{ work.created_at|date:"Y" }}</p>
                                </div>
                                <h2>{{ work.category }}</h2>
                            </div>
                            <p>
                                {{ work.body|truncatewords:'30'|safe }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>
        </div>
    </section>
{% endblock %}

{% block extra_js %}{% endblock %}